@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <section class="col-sm-4 justify-content-center">
            <h1>About Me</h1>
            <p>Hello, I'm an experienced full-stack .NET developer from the Greater Los Angeles Area. My first exposure to software engineering occurred while I was completing my bachelor's degree in Information Systems at Cal State Fullerton. Although the program was both theoretical as well as practical, I decided to utilize my time outside of school to build additional full-stack projects. This application is a blog that was built from the ground up using .NET and C#. <br /><br /> Building the blog was a great exercise to practice my full-stack capabilities. I have implemented a database and security to manage the features it entails, such as a search option, comments, tags, authentication, user roles, and user account creation. I thought it would be a fun idea to share positive perspectives and technical learning experiences through this blog. It also allows me to analyze and clarify my perspectives in depth. <br /> <br /> Should you have any queries about me, please don't hesitate to contact me.</p>
        </section>
    </div>
</div>